@font-face {
  font-family: "Chennai";
  font-style: normal;
  src: url("../font/chennai.otf");
}

section {
  font-family: "Nunito", sans-serif;
}
section h2 {
  font-family: "Chennai", sans-serif;
  letter-spacing: 3px;
  font-size: 45px;
}

/* Navbar */
.sticky {
  background: #143d59;
}
.navbar {
  font-family: "Chennai", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}
.navbar .nav-btn {
  display: inline-block;
  background: #ffd700;
  color: #143d59;
  margin-right: 10px;
  height: 35px;
  padding: 3px 15px;
  font-weight: 700;
  border-radius: 10px;
  border: 2px solid #ffd700;
  transition: all 0.3s ease;
}
.navbar .nav-btn:hover {
  opacity: 80%;
}
.navbar .nav-link:hover {
  opacity: 80%;
}
.navbar .nav-item.active {
  border-bottom: 2px solid #ffd700;
}

/* Header */
#header {
  font-family: "Nunito", sans-serif;
  /* background: url("../img/banner-01.jpg") right;
  width: 1300px; */
  background: linear-gradient(to left, rgb(28, 86, 125) 20%, rgb(20, 61, 89));
  padding-top: 30px;
}
#header h1 {
  font-family: "Chennai", sans-serif;
  letter-spacing: 3px;
}
#header .row .form-control:focus {
  box-shadow: none;
}
#header .row .form-control::placeholder {
  font-size: 0.95rem;
  color: #fffffa;
}
@media (max-width: 991px) {
  header {
    background: linear-gradient(
        to bottom,
        rgba(31, 31, 31, 0.1) 0%,
        rgba(31, 31, 31, 0.1) 100%
      ),
      url("../img/banner-01.jpg");
    background-size: cover;
    transition: all 0.3s ease;
  }
}
@media (max-width: 767px) {
  header {
    background-attachment: fixed;
  }
}

/* Button Scroll */
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #ffd700;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #101010;
  z-index: 9999;
  font-size: 30px;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* Top Week */
#topWeek {
  background: #eef4f7;
  padding-bottom: 2rem;
}
.topWeek .card {
  background-position: center;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
}
.topWeek .card img {
  transition: all linear 0.25s;
  border-radius: 10px;
}
.topWeek .card-img-overlay .card-name {
  position: absolute;
  left: 20px;
  bottom: 40px;
  font-size: 20px;
  color: #fff;
  text-shadow: 10px 10px 30px #000000;
  font-weight: bold;
  transition: all linear 0.25s;
}
.topWeek .card-img-overlay .card-job {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  text-shadow: 10px 10px 30px #000000;
  font-size: 14px;
  transition: all linear 0.25s;
}
/* .topWeek .card-img-overlay .card-icon {
  position: absolute;
  bottom: 20px;
  right: 30px;
  transition: all linear 0.25s;
  color: #fff;
} */
/* .topWeek .card-img-overlay .card-icon .fab {
  margin: 5px;
} */
.topWeek .card:hover img {
  filter: grayscale(50%);
}
.topWeek .card:hover .card-name {
  bottom: 50px;
}
.topWeek .card:hover .card-job {
  bottom: 30px;
}
/* .topWeek .card:hover .card-icon {
  right: 40px;
} */
/* .topWeek .owl-dots {
  text-align: center;
  margin-top: 20px;
}
.topWeek .owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #143d59 !important;
  transition: all 0.3s ease;
}
.topWeek .owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.topWeek .owl-dot.active,
.topWeek .owl-dot:hover {
  background: #ffd700 !important;
} */

/* Pekerjaan */
#pekerjaan .container img {
  width: 100px;
  height: 100px;
}

/* Testimoni */
.testimonials-clean .people {
  padding: 0 0 20px;
}

.testimonials-clean .item {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .testimonials-clean .item {
    height: 220px;
  }
}

.testimonials-clean .item .box {
  padding: 30px;
  background-color: #eef4f7;
  position: relative;
}

.testimonials-clean .item .box:after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -24px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-width: 12px 15px;
  border-top-color: #eef4f7;
}

.testimonials-clean .item .author {
  margin-top: 28px;
  padding-left: 25px;
}

.testimonials-clean .item .name {
  font-weight: bold;
  margin-bottom: 2px;
  color: inherit;
}

.testimonials-clean .item .title {
  font-size: 13px;
  color: #9da9ae;
}

.testimonials-clean .item .description {
  font-size: 15px;
  margin-bottom: 0;
}

.testimonials-clean .item img {
  max-width: 40px;
  float: left;
  margin-right: 12px;
  margin-top: -5px;
}
.testimonials-clean .owl-item > div {
  cursor: pointer;
  margin: 5% 0%;
  transition: margin 0.4s ease;
}
/* .testimonials-clean .owl-item.center > div {
  cursor: pointer;
  margin: 0;
} */
.testimonials-clean .owl-dots {
  text-align: center;
  margin-top: 20px;
}
.testimonials-clean .owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #143d59 !important;
  transition: all 0.3s ease;
}
.testimonials-clean .owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.testimonials-clean .owl-dot.active,
.testimonials-clean .owl-dot:hover {
  background: #ffd700 !important;
}

/* .testimoni .card {
  border-radius: 20px;
  background-color: #143d59;
}
.testimoni .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4x #9fabbb;
  width: 100px;
  height: 100px;
}
.testimoni .card:hover {
  filter: grayscale(50%);
}
.testimoni .card h5 {
  color: #ffd700;
  font-size: 22px;
  line-height: 1.3;
  font-weight: 600;
}
.testimoni .card h5 span {
  font-size: 17px;
  color: #fff;
}
.testimoni .card p {
  color: #fff;
  padding-bottom: 15px;
  font-weight: lighter;
}
.testimoni .owl-item > div {
  cursor: pointer;
  margin: 5% 0%;
  transition: margin 0.4s ease;
}
.testimoni .owl-item.center > div {
  cursor: pointer;
  margin: 0;
}
.testimoni .owl-dots {
  text-align: center;
  margin-top: 20px;
}
.testimoni .owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #143d59 !important;
  transition: all 0.3s ease;
}
.testimoni .owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.testimoni .owl-dot.active,
.testimoni .owl-dot:hover {
  background: #ffd700 !important;
} */

/* Hero Bottom */
.hero-bottom {
  background-image: linear-gradient(
    to right,
    rgb(28, 86, 125) 20%,
    rgb(20, 61, 89)
  );
}
.hero-bottom .btn {
  font-family: "Chennai", sans-serif;
  display: inline-block;
  background: #ffd700;
  color: #143d59;
  padding: 5px 30px;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid #ffd700;
}
.hero-bottom .btn:hover {
  position: relative;
  top: 5px;
  background: none;
  color: #fff;
}
