* {
  font-family: "Nunito", sans-serif;
}
nav {
  background-color: #143d59;
}
header {
  background: url("../img/banner-01.jpg") no-repeat center;
  background-size: cover;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #ffd700;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #101010;
  z-index: 9999;
  font-size: 30px;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}
.container .row .input-group input,
.container .row .input-group button {
  background: #0c324b;
  border-radius: 25px;
  border-color: #fff;
  color: #fff;
}
.profile-card {
  max-width: 200px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
}
.profile-card img {
  transition: all linear 0.25s;
  width: 200px;
}

.profile-card .profile-name {
  position: absolute;
  left: 30px;
  bottom: 70px;
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all linear 0.25s;
}

.profile-card .profile-icons {
  position: absolute;
  bottom: 20px;
  right: 30px;
  transition: all linear 0.25s;
}

.profile-card .profile-profesi {
  position: absolute;
  bottom: 50px;
  left: 30px;
  color: #fff;
  font-size: 10px;
  transition: all linear 0.25s;
}

.profile-card .profile-icons .fa {
  margin: 5px;
}

.profile-card:hover img {
  filter: grayscale(100%);
}

.profile-card:hover .profile-name {
  bottom: 80px;
}

.profile-card:hover .profile-profesi {
  bottom: 60px;
}

.profile-card:hover .profile-icons {
  right: 40px;
}
