@font-face {
  font-family: "Chennai";
  font-style: normal;
  src: url("../font/chennai.otf");
}

section {
  font-family: "Nunito", sans-serif;
}
section h2 {
  font-family: "Chennai", sans-serif;
  letter-spacing: 1px;
  font-size: 45px;
}

/* Navbar */
.sticky {
  background: #143d59;
}
.navbar {
  font-family: "Chennai", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}
.navbar .nav-btn {
  display: inline-block;
  background: #ffd700;
  color: #143d59;
  margin-right: 10px;
  height: 35px;
  padding: 3px 15px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid #ffd700;
  transition: all 0.3s ease;
}
.navbar .nav-btn:hover {
  opacity: 80%;
}
.navbar .nav-link:hover {
  opacity: 80%;
}
.navbar .nav-item.active {
  border-bottom: 2px solid #ffd700;
}

/* Header */
#header {
  font-family: "Nunito", sans-serif;
  /* background: url("../img/banner-01.jpg") right;
  width: 1300px; */
  background: linear-gradient(to left, rgb(28, 86, 125) 20%, rgb(20, 61, 89));
  padding-top: 30px;
}
#header h1 {
  font-family: "Chennai", sans-serif;
  letter-spacing: 3px;
}
#header .row .form-control:focus {
  box-shadow: none;
}
#header .row .form-control::placeholder {
  font-size: 0.95rem;
  color: #fffffa;
}
@media (max-width: 1024px) {
  #header img {
    display: none;
  }
}

/* Button Scroll */
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #ffd700;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #101010;
  z-index: 9999;
  font-size: 30px;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* Top Week */
#topWeek {
  background: #eef4f7;
  padding-bottom: 2rem;
}
.topWeek .card {
  background-position: center;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
}
.topWeek .card img {
  transition: all linear 0.25s;
  border-radius: 10px;
}
.topWeek .card-img-overlay .card-name {
  position: absolute;
  left: 20px;
  bottom: 40px;
  font-size: 20px;
  color: #fff;
  text-shadow: 10px 10px 30px #000000;
  font-weight: bold;
  transition: all linear 0.25s;
}
.topWeek .card-img-overlay .card-job {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  text-shadow: 10px 10px 30px #000000;
  font-size: 14px;
  transition: all linear 0.25s;
}
.topWeek .card:hover img {
  filter: grayscale(50%);
}
.topWeek .card:hover .card-name {
  bottom: 50px;
}
.topWeek .card:hover .card-job {
  bottom: 30px;
}

/* Pekerjaan */
#pekerjaan .container img {
  width: 100px;
  height: 100px;
}

/* Testimoni */
.testimonials-clean .people {
  padding: 0 0 20px;
}

.testimonials-clean .item {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .testimonials-clean .item {
    height: 220px;
  }
}

.testimonials-clean .item .box {
  padding: 30px;
  background-color: #eef4f7;
  position: relative;
}

.testimonials-clean .item .box:after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -24px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-width: 12px 15px;
  border-top-color: #eef4f7;
}

.testimonials-clean .item .author {
  margin-top: 28px;
  padding-left: 25px;
}

.testimonials-clean .item .name {
  font-weight: bold;
  margin-bottom: 2px;
  color: inherit;
}

.testimonials-clean .item .title {
  font-size: 13px;
  color: #9da9ae;
}

.testimonials-clean .item .description {
  font-size: 15px;
  margin-bottom: 0;
}

.testimonials-clean .item img {
  max-width: 40px;
  float: left;
  margin-right: 12px;
  margin-top: -5px;
}
.testimonials-clean .owl-item > div {
  cursor: pointer;
  margin: 5% 0%;
  transition: margin 0.4s ease;
}
.testimonials-clean .owl-dots {
  text-align: center;
  margin-top: 20px;
}
.testimonials-clean .owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #143d59 !important;
  transition: all 0.3s ease;
}
.testimonials-clean .owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.testimonials-clean .owl-dot.active,
.testimonials-clean .owl-dot:hover {
  background: #ffd700 !important;
}
/* Hero Bottom */
.hero-bottom {
  background-image: linear-gradient(to right, rgb(28, 86, 125) 20%, rgb(20, 61, 89));
}
.hero-bottom .btn {
  font-family: "Chennai", sans-serif;
  display: inline-block;
  background: #ffd700;
  color: #143d59;
  padding: 5px 30px;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid #ffd700;
}
.hero-bottom .btn:hover {
  position: relative;
  top: 5px;
  background: none;
  color: #fff;
}
@media (max-width: 900px) {
  .hero-bottom .img {
    display: none;
  }
}
/* FOOTER */
footer {
  font-family: "Nunito", sans-serif;
  background: lightgrey;
}
footer h5,
footer span {
  font-family: "Chennai", sans-serif;
  letter-spacing: 1px;
}

/* Login */
.login-form {
  padding: 0 35px;
  background-color: white;
  border: none;
  border-radius: 25px;
  color: #143d59;
}
.login-form .title {
  font-family: "Chennai", sans-serif;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  border-radius: 20px;
  border: 2px solid rgb(224, 224, 224);
}
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  box-shadow: none;
}
.login-form .btn-login {
  height: 35px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  color: #143d59;
  background: #ffd700;
}
.login-form .btn-login:hover {
  background: #ffdd00d0;
}
.login-form .link {
  color: #4255e6;
  text-decoration: none;
}
.login-form .link:hover {
  color: #3545ba;
  text-decoration: none;
}
.login-form .btn-gmail {
  height: 35px;
  color: #fff;
  background: #db4437;
  border-radius: 20px;
  font-weight: 700;
}
.login-form .btn-facebook {
  height: 35px;
  color: #fff;
  background: #3b5998;
  border-radius: 20px;
  font-weight: 700;
}
.login-form .img-google {
  height: 20px;
  width: 20px;
}

/* Register */
.register-form {
  padding: 0 35px;
  background-color: white;
  border: none;
  border-radius: 25px;
  color: #143d59;
}
.register-form .title {
  font-family: "Chennai", sans-serif;
}
.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="email"],
.register-form input[type="number"],
.register-form input[type="date"] {
  border-radius: 20px;
  border: 2px solid rgb(224, 224, 224);
}
.register-form input[type="text"]:focus,
.register-form input[type="password"]:focus,
.register-form input[type="email"]:focus,
.register-form input[type="number"]:focus,
.register-form input[type="date"]:focus {
  box-shadow: none;
}
.register-form .btn-login {
  height: 35px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  color: #143d59;
  background: #ffd700;
}
.register-form .btn-login:hover {
  background: #ffdd00d0;
}
.register-form .link {
  color: #4255e6;
  text-decoration: none;
}
.register-form .link:hover {
  color: #3545ba;
  text-decoration: none;
}
.register-form .btn-gmail {
  height: 35px;
  color: #fff;
  background: #db4437;
  border-radius: 20px;
  font-weight: 700;
}
.register-form .btn-facebook {
  height: 35px;
  color: #fff;
  background: #3b5998;
  border-radius: 20px;
  font-weight: 700;
}
.register-form .img-google {
  height: 20px;
  width: 20px;
}

/* ============= Users ============= */
/* Navbar */
@media (max-width: 990px) {
  #user .navbar-brand {
    display: none;
  }
}

#user .offcanvas form {
  background: rgba(255, 255, 255, 0.5);
}
#user .offcanvas .form-control {
  font-size: 1rem;
  color: #143d59;
  font-weight: bold;
}
#user .offcanvas .form-control:focus {
  box-shadow: none;
}
#user .offcanvas .form-control::placeholder {
  font-size: 1rem;
  color: #143d59;
  font-weight: bold;
}

/* Header */
#user-header .card-penawaran {
  background: #e3ebeb;
  border: none;
  border-radius: 10px;
}
#user-header .card-penawaran .btn-penawaran {
  background: #fff;
  border: 1px solid #143d59;
  border-radius: 15px;
  color: #143d59;
}
#user-header .card-penawaran .btn-penawaran:hover {
  background: none;
}
#user-header .card-penawaran2 {
  background-image: linear-gradient(to top left, rgb(28, 86, 125) 20%, rgb(20, 61, 89));
  border: none;
  border-radius: 10px;
}

/* TopWeek Customer */
.card-list {
  border-radius: 20px;
}
.btn-chart {
  background: #ffd700;
  border: 1px solid #143d59;
  border-radius: 9px;
  width: 100px;
  color: #143d59;
}
.btn-chart:hover {
  background: #ffd900aa;
}

/* Detail - Freelance */
#detail .card-detail {
  background-image: linear-gradient(to top left, rgb(28, 86, 125) 20%, rgb(20, 61, 89));
  border-radius: 15px;
}
#detail .card-detail a {
  background: #ffd700;
  border: 1px solid #143d59;
  border-radius: 9px;
  color: #143d59;
  font-weight: bold;
}
#detail .card-detail a:hover {
  background: #ffd900aa;
}

/* Porto */
#porto .card .card-title {
  color: #143d59;
  margin-bottom: 20px;
}
#porto h3 {
  color: #143d59;
}
#porto .card {
  border-color: #143d59;
  border-radius: 10px;
}
#porto .card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Checkout */
#checkout .card {
  border-color: #143d59;
  border-radius: 14px;
}
#checkout .card img {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
#checkout .card .btn-pay {
  background: #ffd700;
  border: 1px solid #ffd700;
  border-radius: 100px;
  color: #143d59;
  font-weight: bold;
}
#checkout .card .btn-pay:hover {
  background: #ffd900aa;
}
